@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  width: 100vw;
  text-align: center;
  padding: 5pt;
}

header h1 {
  font-size: 36pt;
  color: #0f7e0f;
  font-weight: 500;
}

header h2 {
  font-size: 18pt;
  font-weight: 500;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12pt;
  color: #000;
  padding: 5pt;
  width: 100%;
}

main article {
  padding: 5pt;
}

main form {
  padding: 5pt;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main form label {
  display: block;
  padding: 5pt 0;
  font-size: 9pt;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
}

main form input {
  display: block;
  font-size: 12pt;
  font-weight: 400;
  padding: 2pt 5pt;
  width: 100%;
  border: solid 2px #0f7e0f;
}

main form button {
  font-size: 12pt;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background-color: #0f7e0f;
  border-radius: 5pt;
  width: 100%;
  padding: 5pt 5pt;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  border: none;
  margin: 10pt 0;
}
